In [117]:
import coffea
from coffea import util
import numpy as np
import pandas as pd
import itertools
import os

In [30]:
# analysis categories #
ttagcats = ["AT&Pt", "at", "pret", "0t", "1t", ">=1t", "2t", ">=0t"] 
btagcats = ["0b", "1b", "2b"]
ycats = ['cen', 'fwd']

anacats = [ t+b+y for t,b,y in itertools.product( ttagcats, btagcats, ycats) ]
label_dict = {i: label for i, label in enumerate(anacats)}
label_to_int_dict = {label: i for i, label in enumerate(anacats)}

In [ ]:
coffea_dir = '../outputs/'

In [129]:
coffeaFiles = {
    "JetHT":{
        "2016APV": coffea_dir+'JetHT_2016F.coffea',
        "2016": {
            "F": coffea_dir+'JetHT_2016F.coffea',
            "G": coffea_dir+'JetHT_2016F.coffea',
            "H": ''
        }
        "2017": '',
        "2018": ''
    },
    
    "TTbar": {
        "2016APV": {
            "700to1000": '',
            "1000toInf": '',
        },
        "2016": {
            "700to1000": coffea_dir+'TTbar_2016_700to_1000.coffea',
            "1000toInf": coffea_dir+'TTbar_2016_1000toInf.coffea',
        },
        "2017": {
            "700to1000": '',
            "1000toInf": '',
        },
        "2018": {
            "700to1000": '',
            "1000toInf": '',
        }
    }
}



jetht = util.load('../outputs/JetHT_2016F.coffea')
ttbar_700to1000 = util.load('../outputs/TTbar_2016_700to_1000.coffea')
ttbar_1000toInf = util.load('../outputs/TTbar_2016_700to_1000.coffea')

SyntaxError: invalid syntax (1248006893.py, line 34)

In [125]:
IOV = '2016'

jetht_files = []

for file in coffeaFiles['JetHT'][IOV]:
    print(file)
    print(os.path.isfile(file))

In [127]:
coffeaFiles['JetHT']

{'2016APV': '../outputs/JetHT_2016F.coffea',
 '2016': '',
 '2017': '',
 '2018': ''}

In [76]:
# pbins = numerator.axes['jetp'].centers - numerator.axes['jetp'].widths/2
pbins = np.array([ 400.,  500.,  600.,  800., 1000., 1500., 2000., 3000., 7000.])

array([ 400.,  500.,  600.,  800., 1000., 1500., 2000., 3000., 7000.])

In [115]:
mistag_rate_dict = {}
mistag_rate_dict["jetp bins"] = pbins

for i, label in label_dict.items():
    
    jetht_numerator   = jetht['numerator'][{'dataset':sum, 'anacat':i}].values()
    jetht_denominator = jetht['denominator'][{'dataset':sum, 'anacat':i}].values()

    ttbar_numerator   = ttbar['numerator'][{'dataset':sum, 'anacat':i}].values() * ttbar_SF['700to1000']
    ttbar_denominator = ttbar['denominator'][{'dataset':sum, 'anacat':i}].values() * ttbar_SF['700to1000']

    mistag_rate = (jetht_numerator / jetht_denominator) - (ttbar_numerator / ttbar_denominator)
    mistag_rate[np.isnan(mistag_rate)] = 0.

    mistag_rate_dict[label] = mistag_rate

/tmp/ipykernel_33/2545810300.py:13: RuntimeWarning: invalid value encountered in divide
  mistag_rate = (jetht_numerator / jetht_denominator) - (ttbar_numerator / ttbar_denominator)

In [116]:
df_mistag = pd.DataFrame(data=mistag_rate_dict)

,jetp bins,AT&Pt0bcen,AT&Pt0bfwd,AT&Pt1bcen,AT&Pt1bfwd,AT&Pt2bcen,AT&Pt2bfwd,at0bcen,at0bfwd,at1bcen,...,2t1bcen,2t1bfwd,2t2bcen,2t2bfwd,>=0t0bcen,>=0t0bfwd,>=0t1bcen,>=0t1bfwd,>=0t2bcen,>=0t2bfwd
0,400.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.101003,-0.121937,-0.167542,...,0.0,0.0,0.0,0.0,-0.101003,-0.121937,-0.167542,-0.221867,-0.364315,-0.383674
1,500.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.148990,-0.128270,-0.176418,...,0.0,0.0,0.0,0.0,-0.148990,-0.128270,-0.176418,-0.220373,-0.125241,-0.140052
2,600.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.138106,-0.145616,-0.178931,...,0.0,0.0,0.0,0.0,-0.138106,-0.145616,-0.178931,-0.201935,-0.200557,-0.169508
3,800.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.110815,-0.114892,-0.144118,...,0.0,0.0,0.0,0.0,-0.110815,-0.114892,-0.144118,-0.144128,-0.145199,-0.215783
4,1000.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.084134,-0.068458,-0.120054,...,0.0,0.0,0.0,0.0,-0.084134,-0.068458,-0.120054,-0.082093,-0.191290,-0.136616
5,1500.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.030017,-0.045395,-0.068220,...,0.0,0.0,0.0,0.0,-0.030017,-0.045395,-0.068220,-0.066876,-0.247871,-0.062590
6,2000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.012541,-0.057114,-0.048510,...,0.0,0.0,0.0,0.0,0.012541,-0.057114,-0.048510,-0.036137,-0.169757,-0.064490
7,3000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.011236,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.011236,0.000000,0.047619,0.000000,0.000000
8,7000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [99]:
np.where(ttbar_denominator > 1e-7, ttbar_numerator / ttbar_denominator, 0.)

/tmp/ipykernel_33/1322345589.py:1: RuntimeWarning: invalid value encountered in divide
  np.where(ttbar_denominator > 1e-7, ttbar_numerator / ttbar_denominator, 0.)

array([0.24161602, 0.24673043, 0.23924274, 0.19126429, 0.16562336,
       0.10668181, 0.07024908, 0.        , 0.        ])

In [92]:
mistag_rate

array([-0.16754195, -0.17641793, -0.17893146, -0.14411789, -0.12005374,
       -0.06822027, -0.04850995,  0.        ,  0.        ])

In [85]:
jetht_numerator.view().value, jetht_numerator.values()

(array([ 4.,  9., 31., 19., 18.,  4.,  1.,  0.,  0.]),
 array([ 4.,  9., 31., 19., 18.,  4.,  1.,  0.,  0.]))

In [21]:
# https://twiki.cern.ch/twiki/bin/viewauth/CMS/PdmVAnalysisSummaryTable
luminosity = {
    "2016APV": 19800.,
    "2016": 16120., #35920 - 19800
    "2017": 41530.,
    "2018": 59740.
}

ttbar_evts = {}
ttbar_evts["700to1000"] = ttbar_700to1000['cutflow']['sumw']
ttbar_evts["1000toInf"] = ttbar_1000toInf['cutflow']['sumw']

ttbar_xs = {}
ttbar_xs["700to1000"] = 831.76 * (0.09210)
ttbar_xs["1000toInf"] = 831.76 * (0.02474)
toptag_sf = 0.9
toptag_kf = 0.7

In [22]:

IOV = "2016"
ttbar_SF = {}
ttbar_SF["700to1000"] = luminosity[IOV] * ttbar_xs["700to1000"] * toptag_sf**2 * toptag_kf / ttbar_evts["1000toInf"]
ttbar_SF["1000toInf"] = luminosity[IOV] * ttbar_xs["1000toInf"] * toptag_sf**2 * toptag_kf / ttbar_evts["1000toInf"]

In [23]:
ttbar_SF

{'700to1000': 3.1085710282647536e-05, '1000toInf': 8.350276573210641e-06}